asgiref==3.7.2
autopep8==2.3.2
dj-database-url==2.3.0
Django==5.0.2
django-cors-headers==4.3.1
django-filter==23.5
django-storages==1.14.5
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
Markdown==3.5.2
pillow==10.2.0
psycopg2-binary==2.9.10
pycodestyle==2.12.1
PyJWT==2.9.0
pytz==2025.1
rest-framework-simplejwt==0.0.2
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==6.9.0
gunicorn
